<?xml version="1.0"?>
<robot name="segway" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.14159274"/>

  <xacro:include filename="$(find robot_description)/urdf/base/base.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/wheel/wheel.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/tip/tip.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/IMU/IMU.urdf.xacro"/>

  <!-- =============== Link & Joint =============== -->
  <!-- Base -->
  <link name="base_footprint"/>
  <xacro:base_v0 parent="base_footprint">
	<origin xyz="0 0 0"/>
  </xacro:base_v0>

  <xacro:rear_wheel_v0 prefix="right" parent="base_link">
	<origin xyz="0 0.238506 0.297322" rpy="0 0 0"/>
	<axis xyz="0 1 0"/>
  </xacro:rear_wheel_v0>
  <!--  Rear Left Wheel -->
  <xacro:rear_wheel_v0 prefix="left" parent="base_link">
	<origin xyz="0 -0.238506 0.297322" rpy="0 0 ${M_PI}"/>
	<axis xyz="0 -1 0"/>
  </xacro:rear_wheel_v0>

  <xacro:imu_v0 parent="base_link">
    <origin xyz="0 0 0.297322" rpy="0 0 0"/>
  </xacro:imu_v0>
  
  <!-- =============== Transmissions =============== -->
  <xacro:wheel_trans_v0 prefix="right"/>
  <xacro:wheel_trans_v0 prefix="left"/>

  <!-- =============== Gazebo =============== -->
  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      <robotNamespace>/segway</robotNamespace>
      <robotParam>/robot_description</robotParam>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
      <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">

      <ros>
        <namespace>/segway</namespace>
      </ros>

      <!-- wheels -->
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>

      <wheel_separation>0.66</wheel_separation>
      <wheel_diameter>0.56</wheel_diameter>

      <max_wheel_torque>10.0</max_wheel_torque>
      <max_wheel_acceleration>10.0</max_wheel_acceleration>

      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>

      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>

    </plugin>
  </gazebo>

  <xacro:base_gazebo_v0/>
  <xacro:wheel_gazebo_v0 prefix="right"/>
  <xacro:wheel_gazebo_v0 prefix="left"/>
  <xacro:imu_gazebo_v0/>
  
</robot>
